/*
  Hello!
  These are some base styles so that our tutorial looks good.
  Let's go through the important bits real quick
*/
:root {
  --yellow: #ffc600; /*This is just some simple css variables*/
  --black: #272727;
}

html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 900;
  font-size: 10px;
  color: var(--black);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

/*
  WAT IS THIS?!
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-image: url('../images/topography.svg'),
    linear-gradient(110deg, #f93d66, #6d47d9);
  background-size: 340px, auto;
  min-height: calc(100vh - 100px);
  margin: 50px;
  /* background: white; */
  background-attachment: fixed;
  letter-spacing: -1px;
  font-size: 15px;
}

button {
  background: #ffc600;
  border: 0;
  padding: 10px 20px;
}

img {
  max-width: 100%;
}

/* PLEASE DO NOT TOUCH THE ABOVE STYLES
 WRITE YOUR OWN STYLES BELOW. GOOD LUCK */

 :root {
  --shadow: grey; /*This is just some simple css variables*/
  --white: #fff;
}


 .wrapper{
   display: grid;
   grid-gap: 20px;
 }

 /* Navigation */
 .menu ul{
 display: grid;
 grid-gap: 20px;
 padding: 0;
 list-style: none;
 grid-template-columns: repeat(5, 1fr);
 }

 .menu a{
   background:var(--yellow);
   display: block;
   text-decoration: none;
   padding: 0.8rem;
   text-align: center;
   color: var(--black);
   text-transform: uppercase;
   font-size: 1.1rem;
   box-shadow: grey;
 }

 .menu a:hover{
  background:var(--black);
  color: var(--yellow);
 }

 /* Top container */
 .top{
   display: grid;
   grid-gap: 20px;
   grid-template-areas: 
   'showcase showcase cta1'
   'showcase showcase cta2';
 }

 /* Hero */
 .hero{
   grid-area: showcase;
   min-height: 400px;
   background: url(../images/taco.jpg);
   background-size: cover;
   background-position: center;
   padding: 3rem;
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: center;
   grid-gap: 20px;
   }

 .hero h1{
  background: var(--yellow);
   font-size: 4rem;
   margin-bottom: 0;
   padding: 0.5rem;
   }

 .hero p{
  background: var(--yellow);
   font-size: 1.3rem;
   margin-top: 0;
   padding: 0.5rem;
  }

  /* cta */
  .cta{
background: var(--yellow);
padding: 1.5rem;
text-align: center;
padding-top: 50px;
  }

  .cta .price{
    font-size: 5rem;
    font-weight: 500;
    }

    .cta p{
      margin: 0;
    }

.cta1{
  grid-area:  cta1;
}

.cta2{
  grid-area:  cta2;
}

.features{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  text-align: center;
   }

  .feature{
    background: var(--white);
    padding: 10px;
  }

  .feature p{
    color: grey;
    font-weight: 500;
  }

  .icon{
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: grey;
  }

  /* About */
  .about{
    background: var(--white);
    box-shadow: grey;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
  }

  /* Gallery */
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.span-first {
  border-top: 1.5rem solid;
  border-image: linear-gradient(to right, transparent, var(--yellow)) 1;
  grid-column: 1/3;
}

.instant{
  text-align: center;
  margin: 0;
  grid-column: 3/4;
}

.span-second {
  border-top: 1.5rem solid;
  border-image: linear-gradient(to left, transparent, var(--yellow)) 1;
  grid-column: 4/6;
}

  
  .gallery{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .galleryimg{
    width: 100%;
    box-shadow: grey;
  }

  /* Media Queries */
  @media (max-width: 700px){
    .top{
      grid-template-areas: 
      'showcase shocase'
      'cta1 cta2';
    }

    .hero h1{
      font-size: 2.5rem;
    }

    .menu ul{
      grid-template-columns: 1fr;
    }

    .about{
      grid-template-columns: 1fr;
    }

    .about .btn{
      display: block;
      text-align: center;
      margin: auto;
    }
  }

  @media (max-width: 480px){
    .top{
      grid-template-areas: 
      'showcase'
      'cta1'
      'cta2';
    }
    }
